.title{
    color: red;
}

.fio{
    margin: 5px;
}

.fio:nth-child(odd){
    font-weight: bold;
}

.example{
    color: darkgray;
}

.example:nth-child(1){
    font-weight: bold;
}

div{
    display: flex;
}