.title{
    color: red;
}

.fio{

}

.fio p:nth-child(2n+1){
    font-weight: bold;
}

.example{
    color: darkgray;
    margin-left: 100px;
}

.example p:nth-child(1){
    font-weight: bold;
}

.data{
    display: flex;
}

.inputBlock{
    margin: 0 auto;
    width: 1000px;
}

.outputBlock{
    margin: 50px;
    display: flex;
    border: darkgray 2px solid;
}

.userText, result{
    width: 50%;
}


