.title{
    color: red;
}

.fio{

}

.fio:nth-child(odd){
    font-weight: bold;
}

.example{
    color: darkgray;
    margin-left: 100px;
}

.example:nth-child(1){
    font-weight: bold;
}

.data{
    display: flex;
}